<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<connectionStrings>
    <add name="CustomerContext" connectionString="server=SQL18DEV;database=acuity_app;User Id=sa; Password=C3l5ius;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UPSOnlineSoap" />
        <binding name="ServiceSoap" />
        <binding name="CATaxRateAPISoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.6.4.44/UPSOnlineSL/UPSOnline.asmx" binding="basicHttpBinding" bindingConfiguration="UPSOnlineSoap" contract="UPSOnline.UPSOnlineSoap" name="UPSOnlineSoap" />
      <endpoint address="http://10.6.4.44/WASalesTax/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="WASalesTax.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.6.4.44/CATaxOnline/CATaxRateAPI.asmx" binding="basicHttpBinding" bindingConfiguration="CATaxRateAPISoap" contract="CASalesTax.CATaxRateAPISoap" name="CATaxRateAPISoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>